
ADDITIONAL_BACKEND_SOURCES = \
    {% for backend_call_name in backend_call_names %} interflop_backends/backend_custom/interflop_{{ backend_call_name }}.cxx{% endfor %}

VERROU_SOURCES_COMMON += $(ADDITIONAL_BACKEND_SOURCES)


